In [1]:
# Pandas
import pandas as pd

In [13]:
import pandas as pd
lst=[1,2,3,4,5,6,7]
df = pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [19]:
import pandas as pd
data={'name':["varun","Hebbar","Varshini"],'std':[1,2,3],'Address':["weee","ewwetwt","wdfe"]}
df=pd.DataFrame(data)
print(df[['name','Address']])

       name  Address
0     varun     weee
1    Hebbar  ewwetwt
2  Varshini     wdfe

In [47]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
print(data)
type(data)

             Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
1                 85             66             29        0  26.6
8                183             64              0        0  23.3
1                 89             66             23       94  28.1
0                137             40             35      168  43.1
...              ...            ...            ...      ...   ...
10               101             76             48      180  32.9
2                122             70             27        0  36.8
5                121             72             23      112  26.2
1                126             60              0        0  30.1
1                 93             70             31        0  30.4

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
1                               0.351   31        0
8                               0.672   32        1
1                               0.167   21        0
0                               2.288   33        1
...                               ...  ...      ...
10                              0.171   63        0
2                               0.340   27        0
5                               0.245   30        0
1                               0.349   47        1
1                               0.315   23        0

[768 rows x 8 columns]

pandas.core.frame.DataFrame

In [48]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Glucose")
print(data)
data.head()

         Pregnancies  BloodPressure  SkinThickness  Insulin   BMI  \
Glucose
148                6             72             35        0  33.6
85                 1             66             29        0  26.6
183                8             64              0        0  23.3
89                 1             66             23       94  28.1
137                0             40             35      168  43.1
...              ...            ...            ...      ...   ...
101               10             76             48      180  32.9
122                2             70             27        0  36.8
121                5             72             23      112  26.2
126                1             60              0        0  30.1
93                 1             70             31        0  30.4

         DiabetesPedigreeFunction  Age  Outcome
Glucose
148                         0.627   50        1
85                          0.351   31        0
183                         0.672   32        1
89                          0.167   21        0
137                         2.288   33        1
...                           ...  ...      ...
101                         0.171   63        0
122                         0.340   27        0
121                         0.245   30        0
126                         0.349   47        1
93                          0.315   23        0

[768 rows x 8 columns]

,Pregnancies,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Glucose,,,,,,,,
148,6,72,35,0,33.6,0.627,50,1
85,1,66,29,0,26.6,0.351,31,0
183,8,64,0,0,23.3,0.672,32,1
89,1,66,23,94,28.1,0.167,21,0
137,0,40,35,168,43.1,2.288,33,1

In [32]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
first=data.loc[6]
second=data.loc[1]
print(first,"\n\n\n",second)

             Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
6                 92             92              0        0  19.9
6                144             72             27      228  33.9
6                 93             50             30       64  28.7
6                111             64             39        0  34.2
6                104             74             18      156  29.9
6                102             82              0        0  30.8
6                134             70             23      130  35.4
6                 85             78              0        0  31.2
6                 87             80              0        0  23.2
6                103             72             32      190  37.7
6                125             68             30      120  30.0
6                134             80             37      370  46.2
6                119             50             22      176  27.1
6                151             62             31      120  35.5
6                 80             66             30        0  26.2
6                194             78              0        0  23.5
6                105             70             32       68  30.8
6                124             72              0        0  27.6
6                137             61              0        0  24.2
6                102             90             39        0  35.7
6                107             88              0        0  36.8
6                154             78             41      140  46.1
6                166             74              0        0  26.6
6                154             74             32      193  29.3
6                  0             68             41        0  39.0
6                129             90              7      326  19.6
6                114              0              0        0   0.0
6                 91              0              0        0  29.8
6                114             88              0        0  27.8
6                125             76              0        0  33.8
6                 99             60             19       54  26.9
6                 92             62             32      126  32.0
6                108             44             20      130  24.0
6                109             60             27        0  25.0
6                103             66              0        0  24.3
6                123             72             45      230  33.6
6                 96              0              0        0  23.7
6                105             80             28        0  32.5
6                117             96              0        0  28.7
6                183             94              0        0  40.8
6                147             80              0        0  29.5
6                115             60             39        0  33.7
6                 98             58             33      190  34.0
6                165             68             26      168  33.6
6                195             70              0        0  30.9
6                125             78             31        0  27.6
6                 80             80             36        0  39.8
6                162             62              0        0  24.3
6                190             92              0        0  35.5

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
6                               0.188   28        0
6                               0.255   40        0
6                               0.356   23        0
6                               0.260   24        0
6                               0.722   41        1
6                               0.180   36        1
6                               0.542   29        1
6                               0.382   42        0
6                               0.084   32        0
6                               0.324   55        0
6                               0.464   32        0
6                               0.238   46        1
6                               1.318   33        1
6                               0.692   28        0
6                               0.313   41        0
6                               0.129   59        1
6                               0.122   37        0
6                               0.368   29        1
6                               0.151   55        0
6                               0.674   28        0
6                               0.727   31        0
6                               0.571   27        0
6                               0.304   66        0
6                               0.839   39        0
6                               0.727   41        1
6                               0.582   60        0
6                               0.189   26        0
6                               0.501   31        0
6                               0.247   66        0
6                               0.121   54        1
6                               0.497   32        0
6                               0.085   46        0
6                               0.813   35        0
6                               0.206   27        0
6                               0.249   29        0
6                               0.733   34        0
6                               0.190   28        0
6                               0.878   26        0
6                               0.157   30        0
6                               1.461   45        0
6                               0.178   50        1
6                               0.245   40        1
6                               0.430   43        0
6                               0.631   49        0
6                               0.328   31        1
6                               0.565   49        1
6                               0.177   28        0
6                               0.178   50        1
6                               0.278   66        1


              Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
1                 85             66             29        0  26.6
1                 89             66             23       94  28.1
1                189             60             23      846  30.1
1                103             30             38       83  43.3
1                115             70             30       96  34.6
...              ...            ...            ...      ...   ...
1                121             78             39       74  39.0
1                128             88             39      110  36.5
1                106             76              0        0  37.5
1                126             60              0        0  30.1
1                 93             70             31        0  30.4

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
1                               0.351   31        0
1                               0.167   21        0
1                               0.398   59        1
1                               0.183   33        0
1                               0.529   32        1
...                               ...  ...      ...
1                               0.261   28        0
1                               1.057   37        1
1                               0.197   26        0
1                               0.349   47        1
1                               0.315   23        0

[135 rows x 8 columns]

In [35]:
import pandas as pd
data=pd.read_csv("diabetes.csv",index_col="Pregnancies")
row1=data.iloc[0]
print(row1)

Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 6, dtype: float64

In [38]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.isnull()

   first_name  last_name   atr1   atr2   atr3
0       False      False  False   True  False
1       False      False  False  False   True
2       False      False  False  False  False
3       False      False   True   True  False

In [40]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.fillna(0)

  first_name last_name  atr1  atr2  atr3
0      varun      qwer   1.0   0.0  99.0
1     Hebbar     dfggg   2.0   7.0   0.0
2   Varshini     fggrr   3.0   9.0  88.0
3    Vishwas     grifg   0.0   0.0  77.0

In [41]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
df.dropna()

  first_name last_name  atr1  atr2  atr3
2   Varshini     fggrr   3.0   9.0  88.0

In [45]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
for i,j in df.iterrows():
    print(i,j)
    print()

0 first_name    varun
last_name      qwer
atr1            1.0
atr2            NaN
atr3           99.0
Name: 0, dtype: object

1 first_name    Hebbar
last_name      dfggg
atr1             2.0
atr2             7.0
atr3             NaN
Name: 1, dtype: object

2 first_name    Varshini
last_name        fggrr
atr1               3.0
atr2               9.0
atr3              88.0
Name: 2, dtype: object

3 first_name    Vishwas
last_name       grifg
atr1              NaN
atr2              NaN
atr3             77.0
Name: 3, dtype: object

In [46]:
import pandas as pd
import numpy as np
dict={'first_name':["varun","Hebbar","Varshini","Vishwas"],'last_name':["qwer","dfggg","fggrr","grifg"],'atr1':[1,2,3,np.nan],'atr2':[np.nan,7,9,np.nan],'atr3':[99,np.nan,88,77]}
df=pd.DataFrame(dict)
print(df)

  first_name last_name  atr1  atr2  atr3
0      varun      qwer   1.0   NaN  99.0
1     Hebbar     dfggg   2.0   7.0   NaN
2   Varshini     fggrr   3.0   9.0  88.0
3    Vishwas     grifg   NaN   NaN  77.0

In [52]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.head()
data.shape

(768, 9)

In [56]:
import pandas as pd
import numpy as np
random_df=pd.DataFrame(np.random.rand(10,10))
print(random_df)

          0         1         2         3         4         5         6  \
0  0.418335  0.864149  0.762286  0.391352  0.345826  0.575400  0.634148
1  0.590778  0.571329  0.402198  0.691226  0.113163  0.491253  0.199164
2  0.075033  0.767945  0.597379  0.014136  0.642124  0.876383  0.667860
3  0.739180  0.198231  0.625417  0.815598  0.118114  0.234448  0.157744
4  0.158877  0.410525  0.881355  0.707056  0.988987  0.529490  0.097180
5  0.632971  0.467249  0.469032  0.495936  0.627422  0.097979  0.721340
6  0.388987  0.352143  0.769639  0.363681  0.832423  0.175071  0.231145
7  0.564629  0.582600  0.730664  0.708996  0.821556  0.661580  0.285291
8  0.384588  0.396952  0.300111  0.126121  0.251437  0.489432  0.827129
9  0.813147  0.164255  0.012108  0.415035  0.165404  0.984036  0.784447

          7         8         9
0  0.881628  0.063509  0.017845
1  0.870484  0.300440  0.311305
2  0.354235  0.083182  0.903104
3  0.309383  0.442264  0.418110
4  0.552659  0.504249  0.655890
5  0.220748  0.222858  0.621136
6  0.518862  0.446973  0.281675
7  0.454024  0.288545  0.778831
8  0.725007  0.831546  0.300967
9  0.580216  0.233249  0.708933

In [65]:
import pandas as pd
import numpy as np
n=10
data=pd.read_csv("diabetes.csv")
series=data["Glucose"]
data.head(12)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1

In [71]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [76]:
import pandas as pd
import numpy as np
data=pd.read_csv("diabetes.csv")
data.value_counts('Age')

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
52     8
44     8
50     8
51     8
58     7
54     6
47     6
53     5
60     5
49     5
57     5
48     5
66     4
62     4
63     4
55     4
59     3
56     3
65     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
dtype: int64

In [77]:
data.groupby('Age').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,1.079365,108.317460,65.936508,19.349206,73.634921,27.817460,0.433825,0.079365
22,1.555556,108.208333,63.722222,20.486111,74.486111,29.509722,0.430625,0.152778
23,1.578947,111.578947,64.315789,22.368421,118.026316,31.502632,0.438579,0.184211
24,1.891304,117.891304,64.956522,25.934783,88.021739,32.569565,0.393565,0.173913
25,1.770833,110.083333,59.666667,23.958333,82.895833,31.943750,0.600500,0.291667
26,1.969697,118.212121,64.181818,23.666667,90.878788,34.915152,0.413455,0.242424
27,2.562500,115.281250,73.500000,18.375000,63.125000,31.950000,0.471750,0.250000
28,3.028571,119.914286,68.314286,23.628571,94.600000,33.642857,0.459629,0.285714
29,3.310345,127.379310,68.241379,21.000000,88.793103,33.541379,0.408897,0.448276
30,3.619048,122.285714,64.857143,18.904762,82.666667,30.033333,0.367238,0.285714
31,3.875000,126.958333,64.375000,20.000000,111.166667,34.016667,0.589583,0.541667
32,4.437500,116.312500,70.062500,18.187500,35.812500,32.318750,0.613250,0.562500
33,4.058824,122.882353,65.647059,21.705882,85.588235,32.335294,0.734176,0.588235
34,5.857143,131.857143,74.000000,18.714286,148.071429,31.164286,0.649857,0.285714
35,5.000000,121.400000,75.600000,22.600000,75.000000,33.780000,0.454000,0.500000
36,5.187500,132.437500,69.125000,19.187500,65.812500,31.718750,0.472875,0.625000
37,5.263158,130.157895,75.947368,18.315789,59.263158,32.078947,0.414632,0.315789
38,6.875000,121.125000,71.125000,19.625000,33.500000,35.568750,0.413938,0.625000
39,7.416667,126.750000,72.666667,26.083333,72.416667,31.983333,0.605917,0.250000
40,6.230769,130.923077,69.230769,24.230769,72.307692,33.538462,0.376077,0.461538
41,6.500000,129.090909,67.590909,17.409091,38.818182,35.259091,0.396273,0.590909
42,6.888889,109.555556,73.388889,19.222222,61.277778,34.983333,0.388000,0.388889
43,7.769231,133.000000,78.461538,27.846154,125.153846,36.892308,0.450846,0.846154
44,7.250000,124.375000,61.750000,4.625000,32.250000,34.162500,0.668375,0.625000
45,7.333333,131.200000,83.066667,20.600000,31.133333,34.960000,0.496467,0.533333
46,6.384615,105.923077,76.000000,24.153846,112.307692,34.523077,0.426846,0.538462
47,8.333333,137.000000,78.333333,14.500000,49.166667,34.566667,0.355333,0.666667
48,8.800000,107.600000,78.400000,23.400000,52.000000,29.980000,0.456800,0.200000
49,7.600000,153.000000,81.400000,21.600000,55.200000,32.020000,0.612000,0.600000
50,6.750000,138.250000,78.250000,16.000000,26.375000,31.225000,0.470125,0.625000
51,8.625000,147.625000,84.500000,21.875000,129.375000,33.975000,0.615250,0.625000
52,4.625000,133.000000,81.500000,13.375000,94.500000,33.475000,0.505375,0.875000
53,5.400000,158.000000,79.000000,21.200000,183.000000,30.500000,0.550600,0.800000
54,7.000000,140.333333,89.333333,8.833333,61.000000,30.800000,0.465500,0.666667
55,5.500000,140.750000,70.250000,16.250000,83.750000,27.025000,0.226500,0.250000
56,8.000000,98.333333,76.333333,32.333333,69.000000,31.700000,0.936667,0.666667
57,8.800000,137.800000,76.800000,9.600000,78.000000,29.700000,0.704000,0.200000
58,7.142857,135.142857,78.285714,19.285714,167.857143,32.428571,0.554714,0.428571
59,2.333333,173.333333,74.000000,16.666667,282.000000,26.966667,0.252667,0.666667
60,6.000000,146.400000,80.000000,20.000000,164.200000,28.740000,0.436800,0.400000
61,5.500000,144.000000,76.000000,16.500000,95.000000,30.000000,0.613000,0.500000
62,3.750000,139.500000,71.500000,29.000000,0.000000,28.950000,0.565500,0.500000
63,5.500000,133.250000,78.000000,23.500000,45.000000,30.775000,0.249250,0.000000
64,8.000000,120.000000,78.000000,0.000000,0.000000,25.000000,0.409000,0.000000
65,3.333333,137.000000,78.666667,12.333333,0.000000,31.600000,0.259000,0.000000
66,5.000000,157.000000,86.000000,0.000000,0.000000,30.375000,0.408500,0.500000
67,4.000000,132.333333,72.666667,0.000000,0.000000,28.766667,0.602000,0.333333
68,8.000000,91.000000,82.000000,0.000000,0.000000,35.600000,0.587000,0.000000
69,5.000000,134.000000,81.000000,0.000000,0.000000,13.400000,0.413000,0.000000
70,4.000000,145.000000,82.000000,18.000000,0.000000,32.500000,0.235000,1.000000
72,2.000000,119.000000,0.000000,0.000000,0.000000,19.600000,0.832000,0.000000
81,9.000000,134.000000,74.000000,33.000000,60.000000,25.900000,0.460000,0.000000

In [78]:
data.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [79]:
data.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [80]:
data.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [81]:
data.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [82]:
data.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [83]:
 data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [132]:
data=pd.read_csv("diabetes.csv")
data.drop(index=0,axis=0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [134]:
data=pd.read_csv("diabetes.csv")
data.drop(columns="Pregnancies",axis=1)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [137]:
data.iloc[1]

Pregnancies                  1.000
Glucose                     85.000
BloodPressure               66.000
SkinThickness               29.000
Insulin                      0.000
BMI                         26.600
DiabetesPedigreeFunction     0.351
Age                         31.000
Outcome                      0.000
Name: 1, dtype: float64

In [140]:
print(data.iloc[:,1])
print(data.iloc[:,-1])

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [141]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [11]:
import pandas as pd
df=pd.read_csv("nba.csv")
new=df["Team"].copy()
df["Name"]=df["Name"].str.cat(new,sep=" ")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley Boston Celtics,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder Boston Celtics,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland Boston Celtics,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter Boston Celtics,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko Boston Celtics,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [14]:
#Replacing null values
import pandas as pd
df=pd.read_csv("nba.csv")
new=df["Team"].copy()
na_string="Varun"
df["Name"]=df["Name"].str.cat(new,sep=" ",na_rep=na_string)
df.head(20)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley Boston Celtics,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder Boston Celtics,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland Boston Celtics,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter Boston Celtics,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko Boston Celtics,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson Boston Celtics,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey Boston Celtics,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk Boston Celtics,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier Boston Celtics,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart Boston Celtics,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger Boston Celtics,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas Boston Celtics,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner Boston Celtics,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young Boston Celtics,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller Boston Celtics,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic Brooklyn Nets,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown Brooklyn Nets,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington Brooklyn Nets,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson Brooklyn Nets,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack Brooklyn Nets,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

In [108]:
import pandas as pd
from pandas import DataFrame
diabetes_df=pd.read_csv("diabetes.csv")
df1=pd.DataFrame(diabetes_df)
df1
nba_df=pd.read_csv("nba.csv")
df2=pd.DataFrame(nba_df)
df2
det=pd.concat([df1,df2],join='outer',axis=1)
print(det)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome           Name            Team  \
0                       0.627   50        1  Avery Bradley  Boston Celtics
1                       0.351   31        0    Jae Crowder  Boston Celtics
2                       0.672   32        1   John Holland  Boston Celtics
3                       0.167   21        0    R.J. Hunter  Boston Celtics
4                       2.288   33        1  Jonas Jerebko  Boston Celtics
..                        ...  ...      ...            ...             ...
763                     0.171   63        0            NaN             NaN
764                     0.340   27        0            NaN             NaN
765                     0.245   30        0            NaN             NaN
766                     0.349   47        1            NaN             NaN
767                     0.315   23        0            NaN             NaN

     Number Position   Age Height  Weight            College     Salary
0       0.0       PG  25.0    6-2   180.0              Texas  7730337.0
1      99.0       SF  25.0    6-6   235.0          Marquette  6796117.0
2      30.0       SG  27.0    6-5   205.0  Boston University        NaN
3      28.0       SG  22.0    6-5   185.0      Georgia State  1148640.0
4       8.0       PF  29.0   6-10   231.0                NaN  5000000.0
..      ...      ...   ...    ...     ...                ...        ...
763     NaN      NaN   NaN    NaN     NaN                NaN        NaN
764     NaN      NaN   NaN    NaN     NaN                NaN        NaN
765     NaN      NaN   NaN    NaN     NaN                NaN        NaN
766     NaN      NaN   NaN    NaN     NaN                NaN        NaN
767     NaN      NaN   NaN    NaN     NaN                NaN        NaN

[768 rows x 18 columns]

In [72]:
import pandas as pd
from pandas import DataFrame
diabetes_df=pd.read_csv("diabetes.csv")
df1=pd.DataFrame(diabetes_df)

nba_df=pd.read_csv("nba.csv")
df2=pd.DataFrame(nba_df)

det=df1.append(df2)
print(det)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6.0    148.0           72.0           35.0      0.0  33.6
1            1.0     85.0           66.0           29.0      0.0  26.6
2            8.0    183.0           64.0            0.0      0.0  23.3
3            1.0     89.0           66.0           23.0     94.0  28.1
4            0.0    137.0           40.0           35.0    168.0  43.1
..           ...      ...            ...            ...      ...   ...
453          NaN      NaN            NaN            NaN      NaN   NaN
454          NaN      NaN            NaN            NaN      NaN   NaN
455          NaN      NaN            NaN            NaN      NaN   NaN
456          NaN      NaN            NaN            NaN      NaN   NaN
457          NaN      NaN            NaN            NaN      NaN   NaN

     DiabetesPedigreeFunction   Age  Outcome          Name       Team  Number  \
0                       0.627  50.0      1.0           NaN        NaN     NaN
1                       0.351  31.0      0.0           NaN        NaN     NaN
2                       0.672  32.0      1.0           NaN        NaN     NaN
3                       0.167  21.0      0.0           NaN        NaN     NaN
4                       2.288  33.0      1.0           NaN        NaN     NaN
..                        ...   ...      ...           ...        ...     ...
453                       NaN  26.0      NaN  Shelvin Mack  Utah Jazz     8.0
454                       NaN  24.0      NaN     Raul Neto  Utah Jazz    25.0
455                       NaN  26.0      NaN  Tibor Pleiss  Utah Jazz    21.0
456                       NaN  26.0      NaN   Jeff Withey  Utah Jazz    24.0
457                       NaN   NaN      NaN           NaN        NaN     NaN

    Position Height  Weight College     Salary
0        NaN    NaN     NaN     NaN        NaN
1        NaN    NaN     NaN     NaN        NaN
2        NaN    NaN     NaN     NaN        NaN
3        NaN    NaN     NaN     NaN        NaN
4        NaN    NaN     NaN     NaN        NaN
..       ...    ...     ...     ...        ...
453       PG    6-3   203.0  Butler  2433333.0
454       PG    6-1   179.0     NaN   900000.0
455        C    7-3   256.0     NaN  2900000.0
456        C    7-0   231.0  Kansas   947276.0
457      NaN    NaN     NaN     NaN        NaN

[1226 rows x 17 columns]

In [83]:
import pandas as pd
df=pd.read_csv("diabetes.csv")
df.drop(["Pregnancies","Glucose","BloodPressure","SkinThickness"],axis=1,inplace=True)
print(df)

     Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0          0  33.6                     0.627   50        1
1          0  26.6                     0.351   31        0
2          0  23.3                     0.672   32        1
3         94  28.1                     0.167   21        0
4        168  43.1                     2.288   33        1
..       ...   ...                       ...  ...      ...
763      180  32.9                     0.171   63        0
764        0  36.8                     0.340   27        0
765      112  26.2                     0.245   30        0
766        0  30.1                     0.349   47        1
767        0  30.4                     0.315   23        0

[768 rows x 5 columns]

In [86]:
import pandas as pd
df=pd.read_csv("diabetes.csv")
res=df.truncate(before=12,after=14)
print(res)

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8

    DiabetesPedigreeFunction  Age  Outcome
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1

In [88]:
import pandas as pd
df=pd.read_csv("diabetes.csv")
df.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [102]:
import pandas as pd
df=pd.read_csv("nba.csv")
df.sort_values('Name',axis=0,ascending=True,inplace = True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
import pandas as pd
df=pd.read_csv("nba.csv")
df.sort_values(["Name","Team","Number","Position","Age","Height","Weight","College","Salary"],axis=0,ascending=True,inplace = True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
import pandas as pd
from sklearn import datasets

boston = datasets.load_boston()
print(type(boston))
print(boston.keys())

breast=datasets.load_breast_cancer()
print(type(breast))
print(breast.keys())

df = pd.DataFrame(data=boston['data'], columns=boston['feature_names'])
df['target_names'] = breast['target']

<class 'sklearn.utils.Bunch'>
dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
<class 'sklearn.utils.Bunch'>
dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

ValueError: Length of values (569) does not match length of index (506)

In [151]:
import pandas as pd
df=pd.read_csv("nba.csv")
print(df.keys())
g=df.groupby('Team')
g

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [152]:
for Team ,Team_df in g:
    print(Team)
    print(Team_df)

Atlanta Hawks
                 Name           Team  Number Position   Age Height  Weight  \
309     Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
311      Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0
312        Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
313    Kris Humphries  Atlanta Hawks    43.0       PF  31.0    6-9   235.0
314       Kyle Korver  Atlanta Hawks    26.0       SG  35.0    6-7   212.0
315      Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0
316      Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0
317   Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0
318   Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
319        Mike Scott  Atlanta Hawks    32.0       PF  27.0    6-8   237.0
320   Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0
321    Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0
322    Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0
323       Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0

            College      Salary
309    Old Dominion   2000000.0
310        Michigan   1304520.0
311          Kansas   2854940.0
312         Florida  12000000.0
313       Minnesota   1000000.0
314       Creighton   5746479.0
315  Louisiana Tech  18671659.0
316        Bucknell    947276.0
317      Pittsburgh    525093.0
318             NaN   1763400.0
319        Virginia   3333333.0
320             NaN   4000000.0
321             NaN   9756250.0
322             NaN   1000000.0
323     Wake Forest   8000000.0
Boston Celtics
               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0
Brooklyn Nets
                       Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3
20           Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7
21          Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4
22             Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11
23              Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0
24         Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11
25              Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10
26          Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10
27               Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10
28             Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3
29           Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8

    Weight         College      Salary
15   216.0             NaN   3425510.0
16   190.0  Oklahoma State    845059.0
17   200.0  North Carolina   1500000.0
18   220.0         Arizona   1335480.0
19   200.0    Georgia Tech   6300000.0
20   208.0             NaN   1599840.0
21   219.0      Cincinnati    134215.0
22   175.0      Miami (FL)   1500000.0
23   275.0        Stanford  19689000.0
24   200.0        Syracuse   1140240.0
25   220.0     Saint Louis    947276.0
26   237.0          Kansas    981348.0
27   248.0      Georgetown    947276.0
28   205.0       Texas A&M    947276.0
29   221.0    Georgia Tech  11235955.0
Charlotte Hornets
                       Name               Team  Number Position   Age Height  \
324           Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8
325            Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4
326         Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3
327        Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9
328          Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6
329           Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1
330            Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10
331      Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7
333             Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5
334            Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5
335              Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3
336            Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1
337         Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9
338             Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0

     Weight                College      Salary
324   200.0                    NaN  13125306.0
325   205.0  Virginia Commonwealth    947276.0
326   189.0             California    189455.0
327   250.0         North Carolina    947276.0
328   210.0               Kentucky    525093.0
329   245.0             Washington   6110034.0
330   289.0                    NaN  13500000.0
331   240.0              Wisconsin   2612520.0
332   232.0               Kentucky   6331404.0
333   185.0            Connecticut   3034356.0
334   200.0       Western Kentucky   5675000.0
335   200.0                Harvard   2139000.0
336   184.0            Connecticut  12000000.0
337   237.0         North Carolina   7000000.0
338   240.0                Indiana   4204200.0
Chicago Bulls
                  Name           Team  Number Position   Age Height  Weight  \
151   Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
152       Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0
153       Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
154      Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0
156          Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0
157         Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
158     Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0
159     Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0
160     Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0
161      E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0
162        Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0
163       Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0
164       Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0
165         Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College      Salary
151  New Mexico    845059.0
152      Oregon   2250000.0
153   Marquette  16407500.0
154        Duke   4500000.0
155         NaN    525093.0
156         NaN   7448760.0
157         USC   8500000.0
158  Washington    947276.0
159   Creighton   2380440.0
160         NaN   5543725.0
161      Purdue   1015421.0
162     Florida  13400000.0
163    Arkansas   1391160.0
164     Memphis  20093064.0
165  New Mexico   1535880.0
Cleveland Cavaliers
                    Name                 Team  Number Position   Age Height  \
166  Matthew Dellavedova  Cleveland Cavaliers     8.0       PG  25.0    6-4
167        Channing Frye  Cleveland Cavaliers     9.0       PF  33.0   6-11
168         Kyrie Irving  Cleveland Cavaliers     2.0       PG  24.0    6-3
169         LeBron James  Cleveland Cavaliers    23.0       SF  31.0    6-8
170    Richard Jefferson  Cleveland Cavaliers    24.0       SF  35.0    6-7
171        Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6
172          James Jones  Cleveland Cavaliers     1.0       SG  35.0    6-8
173           Sasha Kaun  Cleveland Cavaliers    14.0        C  31.0   6-11
174           Kevin Love  Cleveland Cavaliers     0.0       PF  27.0   6-10
175         Jordan McRae  Cleveland Cavaliers    12.0       SG  25.0    6-5
176       Timofey Mozgov  Cleveland Cavaliers    20.0        C  29.0    7-1
177        Iman Shumpert  Cleveland Cavaliers     4.0       SG  25.0    6-5
178           J.R. Smith  Cleveland Cavaliers     5.0       SG  30.0    6-6
179     Tristan Thompson  Cleveland Cavaliers    13.0        C  25.0    6-9
180          Mo Williams  Cleveland Cavaliers    52.0       PG  33.0    6-1

     Weight       College      Salary
166   198.0  Saint Mary's   1147276.0
167   255.0       Arizona   8193029.0
168   193.0          Duke  16407501.0
169   250.0           NaN  22970500.0
170   233.0       Arizona    947276.0
171   225.0          Duke         NaN
172   218.0    Miami (FL)    947276.0
173   260.0        Kansas   1276000.0
174   251.0          UCLA  19689000.0
175   179.0     Tennessee    111196.0
176   275.0           NaN   4950000.0
177   220.0  Georgia Tech   8988765.0
178   225.0           NaN   5000000.0
179   238.0         Texas  14260870.0
180   198.0       Alabama   2100000.0
Dallas Mavericks
                   Name              Team  Number Position   Age Height  \
227     Justin Anderson  Dallas Mavericks     1.0       SG  22.0    6-6
228          J.J. Barea  Dallas Mavericks     5.0       PG  31.0    6-0
229        Jeremy Evans  Dallas Mavericks    21.0       SF  28.0    6-9
230      Raymond Felton  Dallas Mavericks     2.0       PG  31.0    6-1
231        Devin Harris  Dallas Mavericks    34.0       PG  33.0    6-3
232           David Lee  Dallas Mavericks    42.0       PF  33.0    6-9
233     Wesley Matthews  Dallas Mavericks    23.0       SG  29.0    6-5
234        JaVale McGee  Dallas Mavericks    11.0        C  28.0    7-0
235         Salah Mejri  Dallas Mavericks    50.0        C  29.0    7-2
236       Dirk Nowitzki  Dallas Mavericks    41.0       PF  37.0    7-0
237       Zaza Pachulia  Dallas Mavericks    27.0        C  32.0   6-11
238    Chandler Parsons  Dallas Mavericks    25.0       SF  27.0   6-10
239       Dwight Powell  Dallas Mavericks     7.0       PF  24.0   6-11
240  Charlie Villanueva  Dallas Mavericks     3.0       PF  31.0   6-11
241      Deron Williams  Dallas Mavericks     8.0       PG  31.0    6-3

     Weight           College      Salary
227   228.0          Virginia   1449000.0
228   185.0      Northeastern   4290000.0
229   200.0  Western Kentucky   1100602.0
230   205.0    North Carolina   3950313.0
231   185.0         Wisconsin   4053446.0
232   245.0           Florida   2085671.0
233   220.0         Marquette  16407500.0
234   270.0            Nevada   1270964.0
235   245.0               NaN    525093.0
236   245.0               NaN   8333334.0
237   275.0               NaN   5200000.0
238   230.0           Florida  15361500.0
239   240.0          Stanford    845059.0
240   232.0       Connecticut    947276.0
241   200.0          Illinois   5378974.0
Denver Nuggets
                  Name            Team  Number Position   Age Height  Weight  \
383     Darrell Arthur  Denver Nuggets     0.0       PF  28.0    6-9   235.0
384      D.J. Augustin  Denver Nuggets    12.0       PG  28.0    6-0   183.0
385        Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0
386    Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
387     Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0
388   Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0
389        Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0
390       Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0
392        Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0
393    Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0
394      Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0
395       Jusuf Nurkic  Denver Nuggets    23.0        C  21.0    7-0   280.0
396     JaKarr Sampson  Denver Nuggets     9.0       SG  23.0    6-9   214.0
397       Axel Toupane  Denver Nuggets     6.0       SG  23.0    6-7   210.0

            College      Salary
383          Kansas   2814000.0
384           Texas   3000000.0
385         Memphis   3533333.0
386          DePaul  10449438.0
387  Morehead State  11235955.0
388             NaN  14000000.0
389  Michigan State   1584480.0
390             NaN   1300000.0
391             NaN   1709719.0
392         Florida    947276.0
393             NaN   3102240.0
394  Saint Joseph's   4345000.0
395             NaN   1842000.0
396      St. John's    258489.0
397             NaN         NaN
Detroit Pistons
                         Name             Team  Number Position   Age Height  \
181              Joel Anthony  Detroit Pistons    50.0        C  33.0    6-9
182               Aron Baynes  Detroit Pistons    12.0        C  29.0   6-10
183               Steve Blake  Detroit Pistons    22.0       PG  36.0    6-3
184             Lorenzo Brown  Detroit Pistons    17.0       PG  25.0    6-5
185            Reggie Bullock  Detroit Pistons    25.0       SF  25.0    6-7
186  Kentavious Caldwell-Pope  Detroit Pistons     5.0       SG  23.0    6-5
187         Spencer Dinwiddie  Detroit Pistons     8.0       PG  23.0    6-6
188            Andre Drummond  Detroit Pistons     0.0        C  22.0   6-11
189             Tobias Harris  Detroit Pistons    34.0       SF  23.0    6-9
190           Darrun Hilliard  Detroit Pistons     6.0       SF  23.0    6-6
191            Reggie Jackson  Detroit Pistons     1.0       PG  26.0    6-3
192           Stanley Johnson  Detroit Pistons     3.0       SF  20.0    6-7
193               Jodie Meeks  Detroit Pistons    20.0       SG  28.0    6-4
194             Marcus Morris  Detroit Pistons    13.0       PF  26.0    6-9
195          Anthony Tolliver  Detroit Pistons    43.0       PF  31.0    6-8

     Weight               College      Salary
181   245.0                  UNLV   2500000.0
182   260.0      Washington State   6500000.0
183   172.0              Maryland   2170465.0
184   189.0  North Carolina State    111444.0
185   205.0        North Carolina   1252440.0
186   205.0               Georgia   2891760.0
187   200.0              Colorado    845059.0
188   279.0           Connecticut   3272091.0
189   235.0             Tennessee  16000000.0
190   205.0             Villanova    600000.0
191   208.0        Boston College  13913044.0
192   245.0               Arizona   2841960.0
193   210.0              Kentucky   6270000.0
194   235.0                Kansas   5000000.0
195   240.0             Creighton   3000000.0
Golden State Warriors
                    Name                   Team  Number Position   Age Height  \
76       Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3
77       Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8
78          Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0
79             Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3
80         Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3
81          Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11
82        Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7
83        Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
84      Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7
85          Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9
87          Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6
88     Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10
89         Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7
90      Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11

    Weight           College      Salary
76   194.0               NaN   2500000.0
77   225.0    North Carolina   3873398.0
78   260.0              Utah  13800000.0
79   175.0           Belmont    947276.0
80   190.0          Davidson  11370786.0
81   265.0        Vanderbilt   2008748.0
82   230.0    Michigan State  14260870.0
83   215.0           Arizona  11710456.0
84   192.0               NaN   5543725.0
85   220.0              UCLA   1131960.0
86   240.0    North Carolina    845059.0
87   220.0            Kansas   1270964.0
88   255.0           Florida   3815000.0
89   215.0  Washington State  15501000.0
90   273.0               NaN    289755.0
Houston Rockets
                   Name             Team  Number Position   Age Height  \
242        Trevor Ariza  Houston Rockets     1.0       SF  30.0    6-8
243     Michael Beasley  Houston Rockets     8.0       SF  27.0   6-10
244    Patrick Beverley  Houston Rockets     2.0       PG  27.0    6-1
245        Corey Brewer  Houston Rockets    33.0       SG  30.0    6-9
246        Clint Capela  Houston Rockets    15.0       PF  22.0   6-10
247          Sam Dekker  Houston Rockets     7.0       SF  22.0    6-9
248    Andrew Goudelock  Houston Rockets     0.0       PG  27.0    6-3
249        James Harden  Houston Rockets    13.0       SG  26.0    6-5
250    Montrezl Harrell  Houston Rockets    35.0       PF  22.0    6-8
251       Dwight Howard  Houston Rockets    12.0        C  30.0   6-11
252      Terrence Jones  Houston Rockets     6.0       PF  24.0    6-9
253      K.J. McDaniels  Houston Rockets    32.0       SG  23.0    6-6
254  Donatas Motiejunas  Houston Rockets    20.0       PF  25.0    7-0
255          Josh Smith  Houston Rockets     5.0        C  30.0    6-9
256         Jason Terry  Houston Rockets    31.0       SG  38.0    6-2

     Weight        College      Salary
242   215.0           UCLA   8193030.0
243   235.0   Kansas State    306527.0
244   185.0       Arkansas   6486486.0
245   186.0        Florida   8229375.0
246   240.0            NaN   1242720.0
247   230.0      Wisconsin   1646400.0
248   200.0     Charleston    200600.0
249   220.0  Arizona State  15756438.0
250   240.0     Louisville   1000000.0
251   265.0            NaN  22359364.0
252   252.0       Kentucky   2489530.0

150   186.0        Kentucky   9500000.0
San Antonio Spurs
                  Name               Team  Number Position   Age Height  \
294  LaMarcus Aldridge  San Antonio Spurs    12.0       PF  30.0   6-11
295      Kyle Anderson  San Antonio Spurs     1.0       SF  22.0    6-9
296        Matt Bonner  San Antonio Spurs    15.0        C  36.0   6-10
297         Boris Diaw  San Antonio Spurs    33.0        C  34.0    6-8
298         Tim Duncan  San Antonio Spurs    21.0        C  40.0   6-11
299      Manu Ginobili  San Antonio Spurs    20.0       SG  38.0    6-6
300        Danny Green  San Antonio Spurs    14.0       SG  28.0    6-6
301      Kawhi Leonard  San Antonio Spurs     2.0       SF  24.0    6-7
302   Boban Marjanovic  San Antonio Spurs    40.0        C  27.0    7-3
303       Kevin Martin  San Antonio Spurs    23.0       SG  33.0    6-7
304       Andre Miller  San Antonio Spurs    24.0       PG  40.0    6-3
305        Patty Mills  San Antonio Spurs     8.0       PG  27.0    6-0
306        Tony Parker  San Antonio Spurs     9.0       PG  34.0    6-2
307   Jonathon Simmons  San Antonio Spurs    17.0       SG  26.0    6-6
308         David West  San Antonio Spurs    30.0       PF  35.0    6-9

     Weight           College      Salary
294   240.0             Texas  19689000.0
295   230.0              UCLA   1142880.0
296   235.0           Florida    947276.0
297   250.0               NaN   7500000.0
298   250.0       Wake Forest   5250000.0
299   205.0               NaN   2814000.0
300   215.0    North Carolina  10000000.0
301   230.0   San Diego State  16407500.0
302   290.0               NaN   1200000.0
303   199.0  Western Carolina    200600.0
304   200.0              Utah    250750.0
305   185.0      Saint Mary's   3578947.0
306   185.0               NaN  13437500.0
307   195.0           Houston    525093.0
308   250.0            Xavier   1499187.0
Toronto Raptors
                 Name             Team  Number Position   Age Height  Weight  \
61    Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0
62      Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
63    DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0
64      DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
66        Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67         Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0
70      Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0
71      Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0
75       Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

        College      Salary
61          NaN   2814000.0
62          NaN   1524000.0
63     Missouri  13600000.0
64          USC  10050000.0
65  Wake Forest   2500000.0
66        Texas   7000000.0
67    Villanova  12000000.0
68          NaN   1842000.0
69     Kentucky   6268675.0
70         UCLA    650000.0
71   Washington   3553917.0
72          NaN   2900000.0
73        Rider    245177.0
74          NaN   4660482.0
75         Utah   1509360.0
Utah Jazz
               Name       Team  Number Position   Age Height  Weight  \
442   Trevor Booker  Utah Jazz    33.0       PF  28.0    6-8   228.0
443      Trey Burke  Utah Jazz     3.0       PG  23.0    6-1   191.0
444      Alec Burks  Utah Jazz    10.0       SG  24.0    6-6   214.0
445      Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0
447     Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0

          College      Salary
442       Clemson   4775000.0
443      Michigan   2658240.0
444      Colorado   9463484.0
445           NaN   3777720.0
446  Georgia Tech  12000000.0
447           NaN   1175880.0
448        Butler  15409570.0
449          Duke   1348440.0
450           NaN   2050000.0
451        Dayton    981348.0
452      Kentucky   2239800.0
453        Butler   2433333.0
454           NaN    900000.0
455           NaN   2900000.0
456        Kansas    947276.0
Washington Wizards
                Name                Team  Number Position   Age Height  \
368    Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6
369     Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5
370     Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7
371     Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7
372      Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10
373    Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11
374       JJ Hickson  Washington Wizards    21.0        C  27.0    6-9
375     Nene Hilario  Washington Wizards    42.0        C  33.0   6-11
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
379   Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3
380   Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4
382        John Wall  Washington Wizards     2.0       PG  25.0    6-4

     Weight               College      Salary
368   220.0        Michigan State   4000000.0
369   207.0               Florida   5694674.0
370   225.0        Boston College   4375000.0
371   218.0         Virginia Tech    561716.0
372   250.0                Kansas   3300000.0
373   240.0                   NaN  11217391.0
374   242.0  North Carolina State    273038.0
375   250.0                   NaN  13000000.0
376   245.0                Kansas   8000000.0
377   205.0                Kansas   1920240.0
378   198.0            Georgetown   4662960.0
379   190.0                Nevada   2170465.0
380   195.0                   LSU   1100602.0
381   205.0                   LSU    200600.0
382   195.0              Kentucky  15851950.0

In [80]:
import pandas as pd
df=pd.read_csv("nba.csv")
df.groupby('Team')

In [7]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
print(iris.keys())

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [12]:
import pandas as pd
df=pd.read_csv("iris.csv")
res=pd.DataFrame(df)
total_length=df['sepal.length'].groupby(df['petal.length'])
print(total_length.mean())

petal.length
1.0    4.600000
1.1    4.300000
1.2    5.400000
1.3    4.842857
1.4    4.915385
1.5    5.146154
1.6    4.914286
1.7    5.400000
1.9    4.950000
3.0    5.100000
3.3    4.950000
3.5    5.350000
3.6    5.600000
3.7    5.500000
3.8    5.500000
3.9    5.533333
4.0    5.780000
4.1    5.700000
4.2    5.725000
4.3    6.300000
4.4    6.275000
4.5    5.775000
4.6    6.400000
4.7    6.440000
4.8    6.225000
4.9    6.240000
5.0    6.175000
5.1    6.125000
5.2    6.600000
5.3    6.400000
5.4    6.550000
5.5    6.566667
5.6    6.366667
5.7    6.766667
5.8    6.800000
5.9    6.950000
6.0    6.750000
6.1    7.433333
6.3    7.300000
6.4    7.900000
6.6    7.600000
6.7    7.700000
6.9    7.700000
Name: sepal.length, dtype: float64

In [39]:
import pandas as pd
df=pd.read_csv("nba.csv")
print(df.keys())
res=df.groupby('Age')
print(res.max())

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')
                     Name                Team  Number Position Height  Weight  \
Age
19.0        Rashad Vaughn        Phoenix Suns    20.0       SG    6-6   206.0
20.0           Tyus Jones  Washington Wizards    41.0       SG    7-3   275.0
21.0          Zach LaVine        Phoenix Suns    55.0       SG    7-0   280.0
22.0  Willie Cauley-Stein  Washington Wizards    40.0       SG    7-1   279.0
23.0           Trey Burke  Washington Wizards    92.0       SG    7-1   275.0
24.0       Xavier Munford  Washington Wizards    77.0       SG    7-3   265.0
25.0          Will Barton  Washington Wizards    99.0       SG    7-0   270.0
26.0          Willie Reed  Washington Wizards    55.0       SG    7-3   278.0
27.0       Thaddeus Young  Washington Wizards    55.0       SG    7-3   290.0
28.0       Wesley Johnson           Utah Jazz    88.0       SG    7-2   275.0
29.0      Wilson Chandler  Washington Wizards    90.0       SG    7-2   275.0
30.0     Tyler Hansbrough  Washington Wizards    50.0       SG    7-0   307.0
31.0       Tiago Splitter        Phoenix Suns    43.0       SG    7-1   289.0
32.0        Zaza Pachulia  Washington Wizards    32.0       SG    6-9   275.0
33.0       Tyson Chandler  Washington Wizards    52.0       SG    7-1   273.0
34.0        Zach Randolph  Washington Wizards    90.0       SG    7-0   265.0
35.0    Richard Jefferson   San Antonio Spurs    34.0       SG    7-0   255.0
36.0        Udonis Haslem     Toronto Raptors    40.0       SG    6-9   260.0
37.0          Kobe Bryant  Philadelphia 76ers    42.0       SF    7-0   254.0
38.0          Paul Pierce   San Antonio Spurs    34.0       SG    6-7   250.0
39.0         Vince Carter   Memphis Grizzlies    15.0       SG    6-6   220.0
40.0           Tim Duncan   San Antonio Spurs    24.0       PG    6-3   250.0

          Salary
Age
19.0   2127840.0
20.0   5703600.0
21.0   5758680.0
22.0   6331404.0
23.0  16000000.0
24.0  16407501.0
25.0  15851950.0
26.0  17120106.0
27.0  20158622.0
28.0  19689000.0
29.0  16407500.0
30.0  22359364.0
31.0  22970500.0
32.0  22875000.0
33.0  13000000.0
34.0  20000000.0
35.0   7448760.0
36.0   5675000.0
37.0  25000000.0
38.0   3376000.0
39.0   4088019.0
40.0   8500000.0

C:\Users\varun\AppData\Local\Temp/ipykernel_15912/331127285.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  print(res.max())

In [82]:
import pandas as pd
weather=pd.read_csv("weather_by_cities.csv")
res=weather.groupby('city')
print(res.max())
print("\n\n")
print(res.min())
print("\n\n")
print(res.mean())
print("\n\n")
print(res.sum())
print("\n\n")
print(res.describe())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny



               day  temperature  windspeed   event
city
mumbai    1/1/2017           85          5     Fog
new york  1/1/2017           28          6    Rain
paris     1/1/2017           42          8  Cloudy



          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75



          temperature  windspeed
city
mumbai            354         37
new york          129         32
paris             191         51



         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [66]:
import pandas as pd
weather=pd.read_csv("weather_by_cities.csv")
res=weather.groupby('city')
for city,city_1 in res:
    print(city)
    print(city_1)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [65]:
import pandas as pd
weather=pd.read_csv("nba.csv")
res=weather.groupby('Team')
for Team,Team2 in res:
    print(Team)
    print(Team2)
    print("\n\n\n\n")

Atlanta Hawks
                 Name           Team  Number Position   Age Height  Weight  \
309     Kent Bazemore  Atlanta Hawks    24.0       SF  26.0    6-5   201.0
310  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
311      Kirk Hinrich  Atlanta Hawks    12.0       SG  35.0    6-4   190.0
312        Al Horford  Atlanta Hawks    15.0        C  30.0   6-10   245.0
313    Kris Humphries  Atlanta Hawks    43.0       PF  31.0    6-9   235.0
314       Kyle Korver  Atlanta Hawks    26.0       SG  35.0    6-7   212.0
315      Paul Millsap  Atlanta Hawks     4.0       PF  31.0    6-8   246.0
316      Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0
317   Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0
318   Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
319        Mike Scott  Atlanta Hawks    32.0       PF  27.0    6-8   237.0
320   Thabo Sefolosha  Atlanta Hawks    25.0       SF  32.0    6-7   220.0
321    Tiago Splitter  Atlanta Hawks    11.0        C  31.0   6-11   245.0
322    Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0
323       Jeff Teague  Atlanta Hawks     0.0       PG  27.0    6-2   186.0

            College      Salary
309    Old Dominion   2000000.0
310        Michigan   1304520.0
311          Kansas   2854940.0
312         Florida  12000000.0
313       Minnesota   1000000.0
314       Creighton   5746479.0
315  Louisiana Tech  18671659.0
316        Bucknell    947276.0
317      Pittsburgh    525093.0
318             NaN   1763400.0
319        Virginia   3333333.0
320             NaN   4000000.0
321             NaN   9756250.0
322             NaN   1000000.0
323     Wake Forest   8000000.0





Boston Celtics
               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0





Brooklyn Nets
                       Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3
20           Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7
21          Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4
22             Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11
23              Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0
24         Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11
25              Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10
26          Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10
27               Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10
28             Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3
29           Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8

    Weight         College      Salary
15   216.0             NaN   3425510.0
16   190.0  Oklahoma State    845059.0
17   200.0  North Carolina   1500000.0
18   220.0         Arizona   1335480.0
19   200.0    Georgia Tech   6300000.0
20   208.0             NaN   1599840.0
21   219.0      Cincinnati    134215.0
22   175.0      Miami (FL)   1500000.0
23   275.0        Stanford  19689000.0
24   200.0        Syracuse   1140240.0
25   220.0     Saint Louis    947276.0
26   237.0          Kansas    981348.0
27   248.0      Georgetown    947276.0
28   205.0       Texas A&M    947276.0
29   221.0    Georgia Tech  11235955.0





Charlotte Hornets
                       Name               Team  Number Position   Age Height  \
324           Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8
325            Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4
326         Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3
327        Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9
328          Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6
329           Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1
330            Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10
331      Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7
333             Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5
334            Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5
335              Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3
336            Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1
337         Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9
338             Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0

     Weight                College      Salary
324   200.0                    NaN  13125306.0
325   205.0  Virginia Commonwealth    947276.0
326   189.0             California    189455.0
327   250.0         North Carolina    947276.0
328   210.0               Kentucky    525093.0
329   245.0             Washington   6110034.0
330   289.0                    NaN  13500000.0
331   240.0              Wisconsin   2612520.0
332   232.0               Kentucky   6331404.0
333   185.0            Connecticut   3034356.0
334   200.0       Western Kentucky   5675000.0
335   200.0                Harvard   2139000.0
336   184.0            Connecticut  12000000.0
337   237.0         North Carolina   7000000.0
338   240.0                Indiana   4204200.0





Chicago Bulls
                  Name           Team  Number Position   Age Height  Weight  \
151   Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
152       Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0
153       Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
154      Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0
156          Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0
157         Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
158     Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0
159     Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0
160     Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0
161      E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0
162        Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0
163       Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0
164       Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0
165         Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College      Salary
151  New Mexico    845059.0
152      Oregon   2250000.0
153   Marquette  16407500.0
154        Duke   4500000.0
155         NaN    525093.0
156         NaN   7448760.0
157         USC   8500000.0
158  Washington    947276.0
159   Creighton   2380440.0
160         NaN   5543725.0
161      Purdue   1015421.0
162     Florida  13400000.0
163    Arkansas   1391160.0
164     Memphis  20093064.0
165  New Mexico   1535880.0





Cleveland Cavaliers
                    Name                 Team  Number Position   Age Height  \
166  Matthew Dellavedova  Cleveland Cavaliers     8.0       PG  25.0    6-4
167        Channing Frye  Cleveland Cavaliers     9.0       PF  33.0   6-11
168         Kyrie Irving  Cleveland Cavaliers     2.0       PG  24.0    6-3
169         LeBron James  Cleveland Cavaliers    23.0       SF  31.0    6-8
170    Richard Jefferson  Cleveland Cavaliers    24.0       SF  35.0    6-7
171        Dahntay Jones  Cleveland Cavaliers    30.0       SG  35.0    6-6
172          James Jones  Cleveland Cavaliers     1.0       SG  35.0    6-8
173           Sasha Kaun  Cleveland Cavaliers    14.0        C  31.0   6-11
174           Kevin Love  Cleveland Cavaliers     0.0       PF  27.0   6-10
175         Jordan McRae  Cleveland Cavaliers    12.0       SG  25.0    6-5
176       Timofey Mozgov  Cleveland Cavaliers    20.0        C  29.0    7-1
177        Iman Shumpert  Cleveland Cavaliers     4.0       SG  25.0    6-5
178           J.R. Smith  Cleveland Cavaliers     5.0       SG  30.0    6-6
179     Tristan Thompson  Cleveland Cavaliers    13.0        C  25.0    6-9
180          Mo Williams  Cleveland Cavaliers    52.0       PG  33.0    6-1

     Weight       College      Salary
166   198.0  Saint Mary's   1147276.0
167   255.0       Arizona   8193029.0
168   193.0          Duke  16407501.0
169   250.0           NaN  22970500.0
170   233.0       Arizona    947276.0
171   225.0          Duke         NaN
172   218.0    Miami (FL)    947276.0
173   260.0        Kansas   1276000.0
174   251.0          UCLA  19689000.0
175   179.0     Tennessee    111196.0
176   275.0           NaN   4950000.0
177   220.0  Georgia Tech   8988765.0
178   225.0           NaN   5000000.0
179   238.0         Texas  14260870.0
180   198.0       Alabama   2100000.0





Dallas Mavericks
                   Name              Team  Number Position   Age Height  \
227     Justin Anderson  Dallas Mavericks     1.0       SG  22.0    6-6
228          J.J. Barea  Dallas Mavericks     5.0       PG  31.0    6-0
229        Jeremy Evans  Dallas Mavericks    21.0       SF  28.0    6-9
230      Raymond Felton  Dallas Mavericks     2.0       PG  31.0    6-1
231        Devin Harris  Dallas Mavericks    34.0       PG  33.0    6-3
232           David Lee  Dallas Mavericks    42.0       PF  33.0    6-9
233     Wesley Matthews  Dallas Mavericks    23.0       SG  29.0    6-5
234        JaVale McGee  Dallas Mavericks    11.0        C  28.0    7-0
235         Salah Mejri  Dallas Mavericks    50.0        C  29.0    7-2
236       Dirk Nowitzki  Dallas Mavericks    41.0       PF  37.0    7-0
237       Zaza Pachulia  Dallas Mavericks    27.0        C  32.0   6-11
238    Chandler Parsons  Dallas Mavericks    25.0       SF  27.0   6-10
239       Dwight Powell  Dallas Mavericks     7.0       PF  24.0   6-11
240  Charlie Villanueva  Dallas Mavericks     3.0       PF  31.0   6-11
241      Deron Williams  Dallas Mavericks     8.0       PG  31.0    6-3

     Weight           College      Salary
227   228.0          Virginia   1449000.0
228   185.0      Northeastern   4290000.0
229   200.0  Western Kentucky   1100602.0
230   205.0    North Carolina   3950313.0
231   185.0         Wisconsin   4053446.0
232   245.0           Florida   2085671.0
233   220.0         Marquette  16407500.0
234   270.0            Nevada   1270964.0
235   245.0               NaN    525093.0
236   245.0               NaN   8333334.0
237   275.0               NaN   5200000.0
238   230.0           Florida  15361500.0
239   240.0          Stanford    845059.0
240   232.0       Connecticut    947276.0
241   200.0          Illinois   5378974.0





Denver Nuggets
                  Name            Team  Number Position   Age Height  Weight  \
383     Darrell Arthur  Denver Nuggets     0.0       PF  28.0    6-9   235.0
384      D.J. Augustin  Denver Nuggets    12.0       PG  28.0    6-0   183.0
385        Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0
386    Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
387     Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0
388   Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0
389        Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0
390       Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0
392        Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0
393    Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0
394      Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0
395       Jusuf Nurkic  Denver Nuggets    23.0        C  21.0    7-0   280.0
396     JaKarr Sampson  Denver Nuggets     9.0       SG  23.0    6-9   214.0
397       Axel Toupane  Denver Nuggets     6.0       SG  23.0    6-7   210.0

            College      Salary
383          Kansas   2814000.0
384           Texas   3000000.0
385         Memphis   3533333.0
386          DePaul  10449438.0
387  Morehead State  11235955.0
388             NaN  14000000.0
389  Michigan State   1584480.0
390             NaN   1300000.0
391             NaN   1709719.0
392         Florida    947276.0
393             NaN   3102240.0
394  Saint Joseph's   4345000.0
395             NaN   1842000.0
396      St. John's    258489.0
397             NaN         NaN





Detroit Pistons
                         Name             Team  Number Position   Age Height  \
181              Joel Anthony  Detroit Pistons    50.0        C  33.0    6-9
182               Aron Baynes  Detroit Pistons    12.0        C  29.0   6-10
183               Steve Blake  Detroit Pistons    22.0       PG  36.0    6-3
184             Lorenzo Brown  Detroit Pistons    17.0       PG  25.0    6-5
185            Reggie Bullock  Detroit Pistons    25.0       SF  25.0    6-7
186  Kentavious Caldwell-Pope  Detroit Pistons     5.0       SG  23.0    6-5
187         Spencer Dinwiddie  Detroit Pistons     8.0       PG  23.0    6-6
188            Andre Drummond  Detroit Pistons     0.0        C  22.0   6-11
189             Tobias Harris  Detroit Pistons    34.0       SF  23.0    6-9
190           Darrun Hilliard  Detroit Pistons     6.0       SF  23.0    6-6
191            Reggie Jackson  Detroit Pistons     1.0       PG  26.0    6-3
192           Stanley Johnson  Detroit Pistons     3.0       SF  20.0    6-7
193               Jodie Meeks  Detroit Pistons    20.0       SG  28.0    6-4
194             Marcus Morris  Detroit Pistons    13.0       PF  26.0    6-9
195          Anthony Tolliver  Detroit Pistons    43.0       PF  31.0    6-8

     Weight               College      Salary
181   245.0                  UNLV   2500000.0
182   260.0      Washington State   6500000.0
183   172.0              Maryland   2170465.0
184   189.0  North Carolina State    111444.0
185   205.0        North Carolina   1252440.0
186   205.0               Georgia   2891760.0
187   200.0              Colorado    845059.0
188   279.0           Connecticut   3272091.0
189   235.0             Tennessee  16000000.0
190   205.0             Villanova    600000.0
191   208.0        Boston College  13913044.0
192   245.0               Arizona   2841960.0
193   210.0              Kentucky   6270000.0
194   235.0                Kansas   5000000.0
195   240.0             Creighton   3000000.0





Golden State Warriors
                    Name                   Team  Number Position   Age Height  \
76       Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3
77       Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8
78          Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0
79             Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3
80         Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3
81          Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11
82        Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7
83        Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
84      Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7
85          Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9
87          Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6
88     Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10
89         Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7
90      Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11

    Weight           College      Salary
76   194.0               NaN   2500000.0
77   225.0    North Carolina   3873398.0
78   260.0              Utah  13800000.0
79   175.0           Belmont    947276.0
80   190.0          Davidson  11370786.0
81   265.0        Vanderbilt   2008748.0
82   230.0    Michigan State  14260870.0
83   215.0           Arizona  11710456.0
84   192.0               NaN   5543725.0
85   220.0              UCLA   1131960.0
86   240.0    North Carolina    845059.0
87   220.0            Kansas   1270964.0
88   255.0           Florida   3815000.0
89   215.0  Washington State  15501000.0
90   273.0               NaN    289755.0





Houston Rockets
                   Name             Team  Number Position   Age Height  \
242        Trevor Ariza  Houston Rockets     1.0       SF  30.0    6-8
243     Michael Beasley  Houston Rockets     8.0       SF  27.0   6-10
244    Patrick Beverley  Houston Rockets     2.0       PG  27.0    6-1
245        Corey Brewer  Houston Rockets    33.0       SG  30.0    6-9
246        Clint Capela  Houston Rockets    15.0       PF  22.0   6-10
247          Sam Dekker  Houston Rockets     7.0       SF  22.0    6-9
248    Andrew Goudelock  Houston Rockets     0.0       PG  27.0    6-3
249        James Harden  Houston Rockets    13.0       SG  26.0    6-5
250    Montrezl Harrell  Houston Rockets    35.0       PF  22.0    6-8
251       Dwight Howard  Houston Rockets    12.0        C  30.0   6-11
252      Terrence Jones  Houston Rockets     6.0       PF  24.0    6-9
253      K.J. McDaniels  Houston Rockets    32.0       SG  23.0    6-6
254  Donatas Motiejunas  Houston Rockets    20.0       PF  25.0    7-0
255          Josh Smith  Houston Rockets     5.0        C  30.0    6-9
256         Jason Terry  Houston Rockets    31.0       SG  38.0    6-2

     Weight        College      Salary
242   215.0           UCLA   8193030.0
243   235.0   Kansas State    306527.0
244   185.0       Arkansas   6486486.0
245   186.0        Florida   8229375.0
246   240.0            NaN   1242720.0
247   230.0      Wisconsin   1646400.0
248   200.0     Charleston    200600.0
249   220.0  Arizona State  15756438.0
250   240.0     Louisville   1000000.0
251   265.0            NaN  22359364.0

105    6-5   195.0      Washington   1159680.0





Los Angeles Lakers
                  Name                Team  Number Position   Age Height  \
106       Brandon Bass  Los Angeles Lakers     2.0       PF  31.0    6-8
107        Tarik Black  Los Angeles Lakers    28.0        C  24.0    6-9
108      Anthony Brown  Los Angeles Lakers     3.0       SF  23.0    6-7
109        Kobe Bryant  Los Angeles Lakers    24.0       SF  37.0    6-6
110    Jordan Clarkson  Los Angeles Lakers     6.0       PG  24.0    6-5
111        Roy Hibbert  Los Angeles Lakers    17.0        C  29.0    7-2
112    Marcelo Huertas  Los Angeles Lakers     9.0       PG  33.0    6-3
113         Ryan Kelly  Los Angeles Lakers     4.0       PF  25.0   6-11
114    Larry Nance Jr.  Los Angeles Lakers     7.0       PF  23.0    6-9
115      Julius Randle  Los Angeles Lakers    30.0       PF  21.0    6-9
116   D'Angelo Russell  Los Angeles Lakers     1.0       PG  20.0    6-5
117       Robert Sacre  Los Angeles Lakers    50.0        C  27.0    7-0
118     Louis Williams  Los Angeles Lakers    23.0       SG  29.0    6-1
119  Metta World Peace  Los Angeles Lakers    37.0       SF  36.0    6-7
120         Nick Young  Los Angeles Lakers     0.0       SF  31.0    6-7

     Weight     College      Salary
106   250.0         LSU   3000000.0
107   250.0      Kansas    845059.0
108   210.0    Stanford    700000.0
109   212.0         NaN  25000000.0
110   194.0    Missouri    845059.0
111   270.0  Georgetown  15592217.0
112   200.0         NaN    525093.0
113   230.0        Duke   1724250.0
114   230.0     Wyoming   1155600.0
115   250.0    Kentucky   3132240.0
116   195.0  Ohio State   5103120.0
117   270.0     Gonzaga    981348.0
118   175.0         NaN   7000000.0
119   260.0  St. John's    947276.0
120   210.0         USC   5219169.0





Memphis Grizzlies
                 Name               Team  Number Position   Age Height  \
257      Jordan Adams  Memphis Grizzlies     3.0       SG  21.0    6-5
258        Tony Allen  Memphis Grizzlies     9.0       SG  34.0    6-4
259    Chris Andersen  Memphis Grizzlies     7.0       PF  37.0   6-10
260       Matt Barnes  Memphis Grizzlies    22.0       SF  36.0    6-7
261      Vince Carter  Memphis Grizzlies    15.0       SG  39.0    6-6
262       Mike Conley  Memphis Grizzlies    11.0       PG  28.0    6-1
263      Bryce Cotton  Memphis Grizzlies     8.0       PG  23.0    6-1
264     Jordan Farmar  Memphis Grizzlies     4.0       PG  29.0    6-2
265        Marc Gasol  Memphis Grizzlies    33.0        C  31.0    7-1
266    JaMychal Green  Memphis Grizzlies     0.0       PF  25.0    6-9
267     P.J. Hairston  Memphis Grizzlies    19.0       SF  23.0    6-6
268     Jarell Martin  Memphis Grizzlies    10.0       PF  22.0   6-10
269      Ray McCallum  Memphis Grizzlies     5.0       PG  24.0    6-3
270    Xavier Munford  Memphis Grizzlies    14.0       PG  24.0    6-3
271     Zach Randolph  Memphis Grizzlies    50.0       PF  34.0    6-9
272  Lance Stephenson  Memphis Grizzlies     1.0       SF  25.0    6-5
273    Alex Stepheson  Memphis Grizzlies    35.0       PF  28.0   6-10
274    Brandan Wright  Memphis Grizzlies    34.0       PF  28.0   6-10

     Weight         College      Salary
257   209.0            UCLA   1404600.0
258   213.0  Oklahoma State   5158539.0
259   245.0   Blinn College   5000000.0
260   226.0            UCLA   3542500.0
261   220.0  North Carolina   4088019.0
262   175.0      Ohio State   9588426.0
263   165.0      Providence    700902.0
264   180.0            UCLA         NaN
265   255.0             NaN  19688000.0
266   227.0         Alabama    845059.0
267   230.0  North Carolina   1201440.0
268   239.0             LSU   1230840.0
269   190.0         Detroit         NaN
270   180.0    Rhode Island         NaN
271   260.0  Michigan State   9638555.0
272   230.0      Cincinnati   9000000.0
273   270.0             USC         NaN
274   210.0  North Carolina   5464000.0





Miami Heat
                  Name        Team  Number Position   Age Height  Weight  \
339         Chris Bosh  Miami Heat     1.0       PF  32.0   6-11   235.0
340          Luol Deng  Miami Heat     9.0       SF  31.0    6-9   220.0
341       Goran Dragic  Miami Heat     7.0       PG  30.0    6-3   190.0
342       Gerald Green  Miami Heat    14.0       SF  30.0    6-7   205.0
343      Udonis Haslem  Miami Heat    40.0       PF  36.0    6-8   235.0
344        Joe Johnson  Miami Heat     2.0       SF  34.0    6-7   240.0
345      Tyler Johnson  Miami Heat     8.0       SG  24.0    6-4   186.0
346     Josh McRoberts  Miami Heat     4.0       PF  29.0   6-10   240.0
347    Josh Richardson  Miami Heat     0.0       SG  22.0    6-6   200.0
348  Amar'e Stoudemire  Miami Heat     5.0       PF  33.0   6-10   245.0
349        Dwyane Wade  Miami Heat     3.0       SG  34.0    6-4   220.0
350      Briante Weber  Miami Heat    12.0       PG  23.0    6-2   165.0
351   Hassan Whiteside  Miami Heat    21.0        C  26.0    7-0   265.0
352    Justise Winslow  Miami Heat    20.0       SF  20.0    6-7   225.0
353      Dorell Wright  Miami Heat    11.0       SF  30.0    6-9   205.0

                   College      Salary
339           Georgia Tech  22192730.0
340                   Duke  10151612.0
341                    NaN  14783000.0
342                    NaN    947276.0
343                Florida   2854940.0
344               Arkansas    261894.0
345           Fresno State    845059.0
346                   Duke   5543725.0
347              Tennessee    525093.0
348                    NaN    947276.0
349              Marquette  20000000.0
350  Virginia Commonwealth         NaN
351               Marshall    981348.0
352                   Duke   2481720.0
353                    NaN         NaN





Milwaukee Bucks
                        Name             Team  Number Position   Age Height  \
211    Giannis Antetokounmpo  Milwaukee Bucks    34.0       SF  21.0   6-11
212           Jerryd Bayless  Milwaukee Bucks    19.0       PG  27.0    6-3
213  Michael Carter-Williams  Milwaukee Bucks     5.0       PG  24.0    6-6
214         Jared Cunningham  Milwaukee Bucks     9.0       SG  25.0    6-4
215              Tyler Ennis  Milwaukee Bucks    11.0       PG  21.0    6-3
216              John Henson  Milwaukee Bucks    31.0       PF  25.0   6-11
217            Damien Inglis  Milwaukee Bucks    17.0       SF  21.0    6-8
218                O.J. Mayo  Milwaukee Bucks     3.0       SG  28.0    6-5
219          Khris Middleton  Milwaukee Bucks    22.0       SG  24.0    6-8
220              Greg Monroe  Milwaukee Bucks    15.0        C  26.0   6-11
221              Steve Novak  Milwaukee Bucks     6.0       SF  32.0   6-10
222      Johnny O'Bryant III  Milwaukee Bucks    77.0       PF  23.0    6-9
223            Jabari Parker  Milwaukee Bucks    12.0       PF  21.0    6-8
224            Miles Plumlee  Milwaukee Bucks    18.0        C  27.0   6-11
225          Greivis Vasquez  Milwaukee Bucks    21.0       PG  29.0    6-6
226            Rashad Vaughn  Milwaukee Bucks    20.0       SG  19.0    6-6

     Weight         College      Salary
211   222.0             NaN   1953960.0
212   200.0         Arizona   3000000.0
213   190.0        Syracuse   2399040.0
214   195.0    Oregon State    947276.0
215   194.0        Syracuse   1662360.0
216   229.0  North Carolina   2943221.0
217   246.0             NaN    855000.0
218   210.0             USC   8000000.0
219   234.0       Texas A&M  14700000.0
220   265.0      Georgetown  16407500.0
221   225.0       Marquette    295327.0
222   257.0             LSU    845059.0
223   250.0            Duke   5152440.0
224   249.0            Duke   2109294.0
225   217.0        Maryland   6600000.0
226   202.0            UNLV   1733040.0





Minnesota Timberwolves
                   Name                    Team  Number Position   Age Height  \
398     Nemanja Bjelica  Minnesota Timberwolves    88.0       PF  28.0   6-10
399        Gorgui Dieng  Minnesota Timberwolves     5.0        C  26.0   6-11
400       Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11
401          Tyus Jones  Minnesota Timberwolves     1.0       PG  20.0    6-2
402         Zach LaVine  Minnesota Timberwolves     8.0       PG  21.0    6-5
403    Shabazz Muhammad  Minnesota Timberwolves    15.0       SF  23.0    6-6
404       Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0   6-10
405      Nikola Pekovic  Minnesota Timberwolves    14.0        C  30.0   6-11
406     Tayshaun Prince  Minnesota Timberwolves    12.0       SF  36.0    6-9
407         Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0    6-4
408        Damjan Rudez  Minnesota Timberwolves    10.0       SF  29.0    6-9
409          Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10
410  Karl-Anthony Towns  Minnesota Timberwolves    32.0        C  20.0    7-0
411      Andrew Wiggins  Minnesota Timberwolves    22.0       SG  21.0    6-8

     Weight         College      Salary
398   240.0             NaN   3950001.0
399   241.0      Louisville   1474440.0
400   240.0             NaN   8500000.0
401   195.0            Duke   1282080.0
402   189.0            UCLA   2148360.0
403   223.0            UCLA   2056920.0
404   237.0  Michigan State   1938840.0
405   307.0             NaN  12100000.0
406   212.0        Kentucky    947276.0
407   194.0             NaN  12700000.0
408   230.0             NaN   1149500.0
409   250.0    Fresno State         NaN
410   244.0        Kentucky   5703600.0
411   199.0          Kansas   5758680.0





New Orleans Pelicans
                   Name                  Team  Number Position   Age Height  \
275       Alexis Ajinca  New Orleans Pelicans    42.0        C  28.0    7-2
276       Ryan Anderson  New Orleans Pelicans    33.0       PF  28.0   6-10
277           Omer Asik  New Orleans Pelicans     3.0        C  29.0    7-0
278        Luke Babbitt  New Orleans Pelicans     8.0       SF  26.0    6-9
279         Norris Cole  New Orleans Pelicans    30.0       PG  27.0    6-2
280    Dante Cunningham  New Orleans Pelicans    44.0       PF  29.0    6-8
281       Anthony Davis  New Orleans Pelicans    23.0       PF  23.0   6-10
282  Bryce Dejean-Jones  New Orleans Pelicans    31.0       SG  23.0    6-6
283       Toney Douglas  New Orleans Pelicans    16.0       PG  30.0    6-2
284         James Ennis  New Orleans Pelicans     4.0       SF  25.0    6-7
285        Tyreke Evans  New Orleans Pelicans     1.0       SG  26.0    6-6
286         Tim Frazier  New Orleans Pelicans     2.0       PG  25.0    6-1
287          Alonzo Gee  New Orleans Pelicans    15.0       SF  29.0    6-6
288         Eric Gordon  New Orleans Pelicans    10.0       SG  27.0    6-4
289     Jordan Hamilton  New Orleans Pelicans    25.0       SG  25.0    6-7
290        Jrue Holiday  New Orleans Pelicans    11.0       PG  25.0    6-4
291     Orlando Johnson  New Orleans Pelicans     0.0       SG  27.0    6-5
292    Kendrick Perkins  New Orleans Pelicans     5.0        C  31.0   6-10
293    Quincy Pondexter  New Orleans Pelicans    20.0       SF  28.0    6-7

     Weight           College      Salary
275   248.0               NaN   4389607.0
276   240.0        California   8500000.0
277   255.0               NaN   9213483.0
278   225.0            Nevada   1100602.0
279   175.0   Cleveland State   3036927.0
280   230.0         Villanova   2850000.0
281   253.0          Kentucky   7070730.0
282   203.0        Iowa State    169883.0
283   195.0     Florida State   1164858.0
284   210.0  Long Beach State    845059.0
285   220.0           Memphis  10734586.0
286   170.0        Penn State    845059.0
287   225.0           Alabama   1320000.0
288   215.0           Indiana  15514031.0
289   220.0             Texas   1015421.0
290   205.0              UCLA  10595507.0
291   220.0  UC Santa Barbara     55722.0
292   270.0               NaN    947276.0
293   220.0        Washington   3382023.0





New York Knicks
                      Name             Team  Number Position   Age Height  \
30           Arron Afflalo  New York Knicks     4.0       SG  30.0    6-5
31            Lou Amundson  New York Knicks    17.0       PF  33.0    6-9
32  Thanasis Antetokounmpo  New York Knicks    43.0       SF  23.0    6-7
33         Carmelo Anthony  New York Knicks     7.0       SF  32.0    6-8
34           Jose Calderon  New York Knicks     3.0       PG  34.0    6-3
35        Cleanthony Early  New York Knicks    11.0       SF  25.0    6-8
36       Langston Galloway  New York Knicks     2.0       SG  24.0    6-2
37            Jerian Grant  New York Knicks    13.0       PG  23.0    6-4
38             Robin Lopez  New York Knicks     8.0        C  28.0    7-0
39            Kyle O'Quinn  New York Knicks     9.0       PF  26.0   6-10
40      Kristaps Porzingis  New York Knicks     6.0       PF  20.0    7-3
41          Kevin Seraphin  New York Knicks     1.0        C  26.0   6-10
42            Lance Thomas  New York Knicks    42.0       SF  28.0    6-8
43           Sasha Vujacic  New York Knicks    18.0       SG  32.0    6-7
44        Derrick Williams  New York Knicks    23.0       PF  25.0    6-8
45             Tony Wroten  New York Knicks     5.0       SG  23.0    6-6

    Weight         College      Salary
30   210.0            UCLA   8000000.0
31   220.0            UNLV   1635476.0
32   205.0             NaN     30888.0
33   240.0        Syracuse  22875000.0
34   200.0             NaN   7402812.0
35   210.0   Wichita State    845059.0
36   200.0  Saint Joseph's    845059.0
37   195.0      Notre Dame   1572360.0
38   255.0        Stanford  12650000.0
39   250.0   Norfolk State   3750000.0
40   240.0             NaN   4131720.0
41   278.0             NaN   2814000.0
42   235.0            Duke   1636842.0
43   195.0             NaN    947276.0
44   240.0         Arizona   4000000.0
45   205.0      Washington    167406.0





Oklahoma City Thunder
                  Name                   Team  Number Position   Age Height  \
412       Steven Adams  Oklahoma City Thunder    12.0        C  22.0    7-0
413      Nick Collison  Oklahoma City Thunder     4.0       PF  35.0   6-10
414       Kevin Durant  Oklahoma City Thunder    35.0       SF  27.0    6-9
415         Randy Foye  Oklahoma City Thunder     6.0       SG  32.0    6-4
416       Josh Huestis  Oklahoma City Thunder    34.0       SF  24.0    6-7
417        Serge Ibaka  Oklahoma City Thunder     9.0       PF  26.0   6-10
418        Enes Kanter  Oklahoma City Thunder    11.0        C  24.0   6-11
419       Mitch McGary  Oklahoma City Thunder    33.0       PF  24.0   6-10
420      Nazr Mohammed  Oklahoma City Thunder    13.0        C  38.0   6-10
421     Anthony Morrow  Oklahoma City Thunder     2.0       SG  30.0    6-5
422      Cameron Payne  Oklahoma City Thunder    22.0       PG  21.0    6-3
423     Andre Roberson  Oklahoma City Thunder    21.0       SG  24.0    6-7
424       Kyle Singler  Oklahoma City Thunder     5.0       SF  28.0    6-8
425       Dion Waiters  Oklahoma City Thunder     3.0       SG  24.0    6-4
426  Russell Westbrook  Oklahoma City Thunder     0.0       PG  27.0    6-3

     Weight       College      Salary
412   255.0    Pittsburgh   2279040.0
413   255.0        Kansas   3750000.0
414   240.0         Texas  20158622.0
415   213.0     Villanova   3135000.0
416   230.0      Stanford   1140240.0
417   245.0           NaN  12250000.0
418   245.0      Kentucky  16407500.0
419   255.0      Michigan   1463040.0
420   250.0      Kentucky    222888.0
421   210.0  Georgia Tech   3344000.0
422   185.0  Murray State   2021520.0
423   210.0      Colorado   1210800.0
424   228.0          Duke   4500000.0
425   220.0      Syracuse   5138430.0
426   200.0          UCLA  16744218.0





Orlando Magic
                 Name           Team  Number Position   Age Height  Weight  \
354    Dewayne Dedmon  Orlando Magic     3.0        C  26.0    7-0   245.0
355     Evan Fournier  Orlando Magic    10.0       SG  23.0    6-7   205.0
356      Aaron Gordon  Orlando Magic     0.0       PF  20.0    6-9   220.0
357     Mario Hezonja  Orlando Magic    23.0       SG  21.0    6-8   218.0
358    Ersan Ilyasova  Orlando Magic     7.0       PF  29.0   6-10   235.0
359  Brandon Jennings  Orlando Magic    55.0       PG  26.0    6-1   169.0
360      Devyn Marble  Orlando Magic    11.0       SF  23.0    6-6   200.0
361    Shabazz Napier  Orlando Magic    13.0       PG  24.0    6-1   175.0
362  Andrew Nicholson  Orlando Magic    44.0       PF  26.0    6-9   250.0
363    Victor Oladipo  Orlando Magic     5.0       SG  24.0    6-4   210.0
364     Elfrid Payton  Orlando Magic     4.0       PG  22.0    6-4   185.0
365       Jason Smith  Orlando Magic    14.0       PF  30.0    7-0   240.0
366    Nikola Vucevic  Orlando Magic     9.0        C  25.0    7-0   260.0
367       C.J. Watson  Orlando Magic    32.0       PG  32.0    6-2   175.0

                 College      Salary
354                  USC    947276.0
355                  NaN   2288205.0
356              Arizona   4171680.0
357                  NaN   3741480.0
358                  NaN   7900000.0
359                  NaN   8344497.0
360                 Iowa    845059.0
361          Connecticut   1294440.0
362      St. Bonaventure   2380593.0
363              Indiana   5192520.0
364  Louisiana-Lafayette   2505720.0
365       Colorado State   4300000.0
366                  USC  11250000.0
367            Tennessee   5000000.0





Philadelphia 76ers
                Name                Team  Number Position   Age Height  \
46       Elton Brand  Philadelphia 76ers    42.0       PF  37.0    6-9
47     Isaiah Canaan  Philadelphia 76ers     0.0       PG  25.0    6-0
48  Robert Covington  Philadelphia 76ers    33.0       SF  25.0    6-9
49       Joel Embiid  Philadelphia 76ers    21.0        C  22.0    7-0
50      Jerami Grant  Philadelphia 76ers    39.0       SF  22.0    6-8
51    Richaun Holmes  Philadelphia 76ers    22.0       PF  22.0   6-10
52       Carl Landry  Philadelphia 76ers     7.0       PF  32.0    6-9
53  Kendall Marshall  Philadelphia 76ers     5.0       PG  24.0    6-4
54    T.J. McConnell  Philadelphia 76ers    12.0       PG  24.0    6-2
55      Nerlens Noel  Philadelphia 76ers     4.0       PF  22.0   6-11
56     Jahlil Okafor  Philadelphia 76ers     8.0        C  20.0   6-11
57         Ish Smith  Philadelphia 76ers     1.0       PG  27.0    6-0
58      Nik Stauskas  Philadelphia 76ers    11.0       SG  22.0    6-6
59   Hollis Thompson  Philadelphia 76ers    31.0       SG  25.0    6-8
60    Christian Wood  Philadelphia 76ers    35.0       PF  20.0   6-11

    Weight          College     Salary
46   254.0             Duke        NaN
47   201.0     Murray State   947276.0
48   215.0  Tennessee State  1000000.0
49   250.0           Kansas  4626960.0
50   210.0         Syracuse   845059.0
51   245.0    Bowling Green  1074169.0
52   248.0           Purdue  6500000.0
53   200.0   North Carolina  2144772.0
54   200.0          Arizona   525093.0
55   228.0         Kentucky  3457800.0
56   275.0             Duke  4582680.0
57   175.0      Wake Forest   947276.0
58   205.0         Michigan  2869440.0
59   206.0       Georgetown   947276.0
60   220.0             UNLV   525093.0





Phoenix Suns
                Name          Team  Number Position   Age Height  Weight  \
121     Eric Bledsoe  Phoenix Suns     2.0       PG  26.0    6-1   190.0
122     Devin Booker  Phoenix Suns     1.0       SG  19.0    6-6   206.0
123   Chase Budinger  Phoenix Suns    10.0       SF  28.0    6-7   209.0
124   Tyson Chandler  Phoenix Suns     4.0        C  33.0    7-1   240.0
125   Archie Goodwin  Phoenix Suns    20.0       SG  21.0    6-5   200.0
126     John Jenkins  Phoenix Suns    23.0       SG  25.0    6-4   215.0
127   Brandon Knight  Phoenix Suns     3.0       PG  24.0    6-3   189.0
128         Alex Len  Phoenix Suns    21.0        C  22.0    7-1   260.0
129        Jon Leuer  Phoenix Suns    30.0       PF  27.0   6-10   228.0

                 Name                    Team  Number Position   Age Height  \
427   Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8
428   Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0    6-9
429   Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0    6-5
430      Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0    6-6
431          Ed Davis  Portland Trail Blazers    17.0        C  27.0   6-10
432  Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0    6-9
433  Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5
434       Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0
435    Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1
436    Damian Lillard  Portland Trail Blazers     0.0       PG  25.0    6-3
437     C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0    6-4
438      Luis Montero  Portland Trail Blazers    44.0       SG  23.0    6-7
439     Mason Plumlee  Portland Trail Blazers    24.0        C  26.0   6-11
440     Brian Roberts  Portland Trail Blazers     2.0       PG  30.0    6-1
441       Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9

     Weight           College     Salary
427   240.0            Kansas   525093.0
428   215.0       Wake Forest  8042895.0
429   206.0        Notre Dame   625093.0
430   210.0        California   947276.0
431   240.0    North Carolina  6980802.0
432   215.0        St. John's  2894059.0
433   215.0              Duke  6000000.0
434   265.0  Central Michigan  5016000.0
435   245.0          Illinois  3075880.0
436   195.0       Weber State  4236287.0
437   200.0            Lehigh  2525160.0
438   185.0    Westchester CC   525093.0
439   235.0              Duke  1415520.0
440   173.0            Dayton  2854940.0
441   240.0           Indiana  2637720.0





Sacramento Kings
                    Name              Team  Number Position   Age Height  \
136           Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7
137       James Anderson  Sacramento Kings     5.0       SG  27.0    6-6
138      Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5
139         Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7
140          Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9
141  Willie Cauley-Stein  Sacramento Kings     0.0        C  22.0    7-0
142      Darren Collison  Sacramento Kings     7.0       PG  28.0    6-0
143     DeMarcus Cousins  Sacramento Kings    15.0        C  25.0   6-11
144           Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2
145           Duje Dukan  Sacramento Kings    26.0       PF  24.0    6-9
146             Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8
147         Kosta Koufos  Sacramento Kings    41.0        C  27.0    7-0
148         Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5
149        Eric Moreland  Sacramento Kings    25.0       PF  24.0   6-10
150          Rajon Rondo  Sacramento Kings     9.0       PG  30.0    6-1

     Weight         College      Salary
136   240.0          Baylor    981348.0
137   213.0  Oklahoma State   1015421.0
138   210.0             NaN   6060606.0
139   228.0     Connecticut   1449187.0
140   225.0             NaN   2836186.0
141   240.0        Kentucky   3398280.0
142   175.0            UCLA   5013559.0
143   270.0        Kentucky  15851950.0
144   185.0            Duke    947276.0
145   220.0       Wisconsin    525093.0
146   230.0     Connecticut  12403101.0
147   265.0      Ohio State   7700000.0
148   195.0          Kansas   3156600.0
149   238.0    Oregon State    845059.0
150   186.0        Kentucky   9500000.0





San Antonio Spurs
                  Name               Team  Number Position   Age Height  \
294  LaMarcus Aldridge  San Antonio Spurs    12.0       PF  30.0   6-11
295      Kyle Anderson  San Antonio Spurs     1.0       SF  22.0    6-9
296        Matt Bonner  San Antonio Spurs    15.0        C  36.0   6-10
297         Boris Diaw  San Antonio Spurs    33.0        C  34.0    6-8
298         Tim Duncan  San Antonio Spurs    21.0        C  40.0   6-11
299      Manu Ginobili  San Antonio Spurs    20.0       SG  38.0    6-6
300        Danny Green  San Antonio Spurs    14.0       SG  28.0    6-6
301      Kawhi Leonard  San Antonio Spurs     2.0       SF  24.0    6-7
302   Boban Marjanovic  San Antonio Spurs    40.0        C  27.0    7-3
303       Kevin Martin  San Antonio Spurs    23.0       SG  33.0    6-7
304       Andre Miller  San Antonio Spurs    24.0       PG  40.0    6-3
305        Patty Mills  San Antonio Spurs     8.0       PG  27.0    6-0
306        Tony Parker  San Antonio Spurs     9.0       PG  34.0    6-2
307   Jonathon Simmons  San Antonio Spurs    17.0       SG  26.0    6-6
308         David West  San Antonio Spurs    30.0       PF  35.0    6-9

     Weight           College      Salary
294   240.0             Texas  19689000.0
295   230.0              UCLA   1142880.0
296   235.0           Florida    947276.0
297   250.0               NaN   7500000.0
298   250.0       Wake Forest   5250000.0
299   205.0               NaN   2814000.0
300   215.0    North Carolina  10000000.0
301   230.0   San Diego State  16407500.0
302   290.0               NaN   1200000.0
303   199.0  Western Carolina    200600.0
304   200.0              Utah    250750.0
305   185.0      Saint Mary's   3578947.0
306   185.0               NaN  13437500.0
307   195.0           Houston    525093.0
308   250.0            Xavier   1499187.0





Toronto Raptors
                 Name             Team  Number Position   Age Height  Weight  \
61    Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0
62      Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
63    DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0
64      DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
66        Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67         Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0
70      Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0
71      Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0
75       Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

        College      Salary
61          NaN   2814000.0
62          NaN   1524000.0
63     Missouri  13600000.0
64          USC  10050000.0
65  Wake Forest   2500000.0
66        Texas   7000000.0
67    Villanova  12000000.0
68          NaN   1842000.0
69     Kentucky   6268675.0
70         UCLA    650000.0
71   Washington   3553917.0
72          NaN   2900000.0
73        Rider    245177.0
74          NaN   4660482.0
75         Utah   1509360.0





Utah Jazz
               Name       Team  Number Position   Age Height  Weight  \
442   Trevor Booker  Utah Jazz    33.0       PF  28.0    6-8   228.0
443      Trey Burke  Utah Jazz     3.0       PG  23.0    6-1   191.0
444      Alec Burks  Utah Jazz    10.0       SG  24.0    6-6   214.0
445      Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0
447     Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0

          College      Salary
442       Clemson   4775000.0
443      Michigan   2658240.0
444      Colorado   9463484.0
445           NaN   3777720.0
446  Georgia Tech  12000000.0
447           NaN   1175880.0
448        Butler  15409570.0
449          Duke   1348440.0
450           NaN   2050000.0
451        Dayton    981348.0
452      Kentucky   2239800.0
453        Butler   2433333.0
454           NaN    900000.0
455           NaN   2900000.0
456        Kansas    947276.0





Washington Wizards
                Name                Team  Number Position   Age Height  \
368    Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6
369     Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5
370     Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7
371     Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7
372      Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10
373    Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11
374       JJ Hickson  Washington Wizards    21.0        C  27.0    6-9
375     Nene Hilario  Washington Wizards    42.0        C  33.0   6-11
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
379   Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3
380   Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4
382        John Wall  Washington Wizards     2.0       PG  25.0    6-4

     Weight               College      Salary
368   220.0        Michigan State   4000000.0
369   207.0               Florida   5694674.0
370   225.0        Boston College   4375000.0
371   218.0         Virginia Tech    561716.0
372   250.0                Kansas   3300000.0
373   240.0                   NaN  11217391.0
374   242.0  North Carolina State    273038.0
375   250.0                   NaN  13000000.0
376   245.0                Kansas   8000000.0
377   205.0                Kansas   1920240.0
378   198.0            Georgetown   4662960.0
379   190.0                Nevada   2170465.0
380   195.0                   LSU   1100602.0
381   205.0                   LSU    200600.0
382   195.0              Kentucky  15851950.0

In [114]:
import pandas as pd
df=pd.read_csv("diabetes.csv")
#print(df)

groupby_dict={'Pregnancies  ':'col_1',
              'Glucose  ':'col_1',
              'BloodPressure   ':'col_1',
              'SkinThickness ':'col_1',
              'Insulin   ':'col_1',
              'BMI  ':'col_2',
              'DiabetesPedigreeFunction  ':'col_2',
              'Age  ':'col_2',
              'Outcome  ':'col_2'
            }
df= df.set_index('Pregnancies')
df= df.groupby(groupby_dict, axis=1).sum()
print(df)

Empty DataFrame
Columns: []
Index: [6, 1, 8, 1, 0, 5, 3, 10, 2, 8, 4, 10, 10, 1, 5, 7, 0, 7, 1, 1, 3, 8, 7, 9, 11, 10, 7, 1, 13, 5, 5, 3, 3, 6, 10, 4, 11, 9, 2, 4, 3, 7, 7, 9, 7, 0, 1, 2, 7, 7, 1, 1, 5, 8, 7, 1, 7, 0, 0, 0, 2, 8, 5, 2, 7, 5, 0, 2, 1, 4, 2, 5, 13, 4, 1, 1, 7, 5, 0, 2, 3, 2, 7, 0, 5, 2, 13, 2, 15, 1, 1, 4, 7, 4, 2, 6, 2, 1, 6, 1, ...]

[768 rows x 0 columns]